<f:layout name="Default" />

<f:section name="Main">
I am the template belonging to the "Default" controller, action "Default".
Value of "foobar": {foobar}.

Rendering of partial:
<f:comment><f:render partial="FirstPartial" arguments="{baz: foobar}" /></f:comment>

Rendering of partial, forced format:
<f:comment><f:render partial="FirstPartial.html" arguments="{baz: foobar}" /></f:comment>

<f:for each="{hotels}" as="hotel">
    <f:render partial="Hotel" arguments="{hotel: hotel}"></f:render>
</f:for>
</f:section>