<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <title>Las Vegas Hotels 🏨</title>
</head>

<body class="">
    <h1 class="text-2xl font-bold m-1">Las Vegas Hotels</h1>
    <div class="flex justify-center">
        <main class="flex w-11/12 sm:w-9/12 md:w-6/12 lg:w-4/12 flex-wrap">
            <div class="bg-slate-200 rounded-xl p-4 w-1/2">
                <h2>##title1##</h2>
                <p>##description1##</p>
                <p>##stars1##</p>
            </div>
            <div class="bg-slate-200 rounded-xl p-4 w-1/2">
                <h2>Mirage Heights Hotel & Spa</h2>
                <p>Elevate your Las Vegas experience at Mirage Heights Hotel & Spa, where luxury meets serenity. Nestled
                    along the vibrant Strip, our resort offers breathtaking views, exquisite dining options, and
                    rejuvenating spa treatments. Unwind in style amidst lush surroundings and indulge in the ultimate
                    Vegas
                    getaway at Mirage Heights.</p>
                <p>⭐⭐⭐</p>
            </div>
            <div class="bg-slate-200 rounded-xl p-4 w-1/2">
                <h2>Stardust Skyline Resort & Casino</h2>
                <p>Experience the grandeur of ancient Egypt amidst the modern luxury of the Las Vegas Strip at Luxor
                    Oasis
                    Resort & Casino. Indulge in lavish accommodations, world-class dining, and thrilling entertainment,
                    all
                    within the iconic pyramid structure that defines Las Vegas's skyline. Unveil the secrets of the
                    pharaohs
                    while enjoying unparalleled hospitality and excitement.</p>
                <p>⭐⭐⭐⭐⭐</p>
            </div>
        </main>
    </div>

</body>

</html>